{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <h3>Todos</h3>
    <a class="btn btn-primary mt-3 " href="/todo/create">Create ToDo</a>
    <table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">ToDo Title</th>
      <th scope="col">ToDo Description</th>
      <th scope="col">ToDo Done</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    {% for todo in todos %}
    <tr>
      <th scope="row">{{ todo.id }}</th>
      <td>{{ todo.title }}</td>
      <td>{{ todo.description }}</td>
      <td>
        {% if todo.done %}
            Done
        {% else %}
            Pending
        {% endif %}
      </td>
      <td>
        <a href="/todo/update/{{ todo.id }}" class="btn btn-warning btn-sm mx-1">Edit</a>
        <a href="/todo/delete/{{ todo.id }}" class="btn btn-danger btn-sm mx-1">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}